<p id="notice"><%= notice %></p>

<h1>Your Course Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Course Name</th>
      <th>Course code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%num = 0%>
    <% @courses.each do |course| %>
      <tr>
        <%num+=1%>
        <td><%= num %></td>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.description %></td>
        <td>
            <% unless already_enrolled?(course.id) %>
              <%# the enroll form %>
              <%= form_with(url: enroll_path, method: :get, local: true) do |f| %>
                  <div><%= hidden_field_tag :enroll_course_id, course.id %></div>
                  <%= f.submit "Enroll", class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%# the drop form %>
              <%= form_with(url: drop_path, method: :delete , local: true) do |f| %>
                <div><%= hidden_field_tag :drop_course_id, course.id %></div>
                <%= f.submit "Drop", class: "btn btn-danger" %>
              <% end %>


            <% end %>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

